<h1>Cats</h1>
<img src="../../../../assets/Cat image.avif" alt="Cat home image" width="400px">
<ul>
    <li>A house cats genome is 95.6 percent tiger, and they share many behaviors with their jungle ancestors, says Layla
        Morgan Wilde, a cat behavior expert and the founder of Cat Wisdom 101. These behaviors include scent marking by
        scratching, prey play, prey stalking, pouncing, chinning, and urine marking.
    </li>
    <li>
        Cats are believed to be the only mammals who don't taste sweetness.
    </li>
    <li>
        Cats are nearsighted, but their peripheral vision and night vision are much better than that of humans.

    </li>

</ul>